.nav {
    background-color: #aaa;
}

.nav a {
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
}

.nav li {
    display: inline-block;
}

.jumbstron {
    background-image: url(../images/Kyoto.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbstron .container {
    position: relative;
    top: 100px;
}

.jumbstron h1 {
    color: white;
}

.jumbstron p {
    color: white;
}
