/* Background */

.header_background {
    background-color: #3A5795;
}


/*Reference gradient background*/

.content_background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
    background: rgb(254, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(221, 241, 249, 1) 35%, rgba(160, 216, 239, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=0);
    /* IE6-9 */
}


/* Frame */

.header_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3A5795;
}

.content_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/content_title.png");
}

.content_seperate_frame {
    width: 1000px;
    margin-top: 5px;
}

.content_left {
    width: 350px;
    background-color: gray;
    margin-left: 3px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}

.content_left_contact {
    background-color: darkgray;
    border-radius: 5px;
    text-align: left;
}

.contact_pic_andtext {
    display: inline-block;
    vertical-align: middle;
}

.contact_text {
    font-size: 20px;
    color: white;
}

.contact_cell {
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: center;
}

.address_size {
    width: 280px;
}

.contact_cell_pic {
    border-radius: 50%;
    padding-left: 5px;
}

.skill_cell {
    display: inline-block;
}

.sub_skill,
.cell_line {
    display: inline-block;
    width: 190px;
}

.content_right {
    width: 600px;
    height: 1000px;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

.content_title_background {
    height: 100px;
    background-image: url("../img/content_title.png");
}

.header_title {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.tab_style {
    width: calc(99%/3);
    height: 50px;
    text-align: center;
    margin-bottom: -2px;
    line-height: 50px;
    border-radius: 5px;
    border: 0px #3A5795 solid;
    display: inline-block;
    font-size: 25px;
}

div.tab_style:hover {
    color: blue;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.inactive_tab {
    background-color: gray;
}

.active_tab {
    background-color: white;
}

div#content2 {
    display: none;
}

div#content3 {
    display: none;
}

.content_title {
    font-size: 60px;
    padding: 15px;
    text-align: center;
    color: white;
    line-height: 100px;
}

.content_article {
    font-size: 24px;
    padding: 10px;
}

.profile {
    margin: 10px 0px;
    border-radius: 50%;
    border: 5px solid white;
    text-align: center;
}

.font_skill_title {
    font-size: 40px;
    padding: 5px;
    color: lightgreen;
    text-align: left;
}

.font_profess_skill {
    font-size: 25px;
    padding: 5px;
    color: white;
    text-align: left;
}

.meter {
    height: 20px;
    /* Status bar height */
    /* Can be anything */
    position: relative;
    background: #000;
    border-radius: 25px;
    padding: 10px;
    /* Create shadow */
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}
